@import 'Colors.scss';

.first-container{
    margin-top: 50px;
    margin-left: 120px;
    width: 750px;
    height: inherit;
    border: 1px solid rgb(218, 211, 211);
    border-radius: 1px;
}

.container{
    height: inherit;
    margin-bottom: 50px;
}

.length{
    margin-top: -10px;
    margin-left: 30px;
    h5{
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
    }
}


img{
    width:100px;
    height: 120px;
    margin-top: -10px;
    margin-left: 30px;
}

.book-name{
    margin-left: 170px;
    margin-top: -128px;
}

.book-author{
    margin-left: 170px;
    margin-top: -5px;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    color: $light_black;
}

.book-price{
    margin-left: 170px;
    margin-top: -10px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}

.icons {
    display: flex;
    gap :10px;
    margin-left: 170px;
    input{
        width: 20px;
        margin-top: -3px;
        padding-left: 12px;
        outline: none;
    }
}

.btn-place{
    margin-left: 520px;
    margin-top:40px;
    margin-bottom: 20px;
    position: relative;
    button{
        width: 200px;
        height: 30px;
        border: none;
        background-color: rgb(85, 85, 230);
        color: $white;
        font-size: 14px;
        cursor: pointer;
    }
}

.details{
    border: 1px solid rgb(228, 217, 217);
    margin-top: 20px;
    margin-left: 120px;
    width: 750px;
    height: 60px;
    h2{
        margin-top: 17px;
        font-size: 20px;
        color: rgb(48, 25, 25);
        font-family: 'Times New Roman', Times, serif;
        font-weight: 200;
        margin-left: 30px;
    }
}

.input-details{
    display:flex;
    margin-top:30px;
    margin-left: 120px;
    width: 750px;
    border: 1px solid rgb(199, 187, 187);
}


.input-details{
    width: 692px;
    height: 446px;
    margin-left: 120px;
    margin-top: 30px;
    background: $white 0% 0% no-repeat padding-box;
    border: 1px solid rgb(226, 212, 212);
    border-radius: 1px;
    opacity: 1;
    padding: 30px;
}

form{
   h3{
       margin-top: -10px;
   }

.name {
    input{
    margin-top: 10px;
    width: 250px;
    height: 35px;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 200;
    &:focus, &:valid{
        +{
             label{
                margin-top: 2px;
                margin-left: -250px;
                font-size: 13px;
                font-weight: 500;
                background-color: $white;
            }
        }
    }
    }
    label{
    margin-top: 20px;
    margin-left: -250px;
   }
}

   .phone{
       margin-top: -42px;
       margin-left: 280px;
       input{
       width: 250px;
       height: 35px;
       outline: none;
        font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 200;
     &:focus, &:valid{
        +{
             label{
                margin-top: -7px;
                margin-left: -250px;
                font-size: 13px;
                font-weight: 500;
                background-color: $white;
            }
        }
    }
       }
        label{
    margin-top: 10px;
    margin-left: -250px;
   }
   }
   .pincode{
       margin-top: 20px;
       input{
       width: 250px;
       outline: none;
       height: 35px;
           font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 200;
     &:focus, &:valid{
        +{
             label{
                margin-top: -7px;
                margin-left: -250px;
                font-size: 13px;
                font-weight: 500;
                background-color: $white;
            }
        }
    }
       }
               label{
    margin-top: 10px;
    margin-left: -250px;
   }
   }

   .locality{
       margin-top: -42px;
       margin-left: 280px;
       input{
       width: 250px;
       height: 35px;
       outline: none;
           font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 200;
     &:focus, &:valid{
        +{
             label{
                margin-top: -7px;
                margin-left: -250px;
                font-size: 13px;
                font-weight: 500;
                background-color: $white;
            }
        }
    }
       }
               label{
    margin-top: 10px;
    margin-left: -250px;
   }
   }
   .Address{
       margin-top: 18px;
       input{
       width: 530px;
       height: 60px;
       outline: none;
           font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 200;
     &:focus, &:valid{
        +{
             label{
                margin-top: -7px;
                margin-left: -530px;
                font-size: 13px;
                font-weight: 500;
                background-color: $white;
            }
        }
    }
       }
               label{
    margin-top: 20px;
    margin-left: -530px;
   }
   }

      .city{
       margin-top: 18px;
       input{
       width: 250px;
       height: 35px;
       outline: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 200;
     &:focus, &:valid{
        +{
             label{
                margin-top: -7px;
                margin-left: -250px;
                font-size: 13px;
                font-weight: 500;
                background-color: $white;
            }
        }
    }
       }
               label{
    margin-top: 10px;
    margin-left: -250px;
   }
   }
   .landmark{
       margin-top: -40px;
       margin-left: 280px;
       input{
       width: 250px;
       height: 35px;
       outline: none;
           font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 200;
     &:focus, &:valid{
        +{
             label{
                margin-top: -7px;
                margin-left: -250px;
                font-size: 13px;
                font-weight: 500;
                background-color: $white;
            }
        }
    }
       }
    label{
    margin-top: 10px;
    margin-left: -250px;
  }
   }    
}

.first-radio-btn{
    margin-top: -19px;
    margin-left: 20px;
   
}

.second-radio-btn{
    margin-top: -19px;
    margin-left: 200px;
    cursor: pointer;
}

.third-radio-btn{
    margin-top: -20px;
    margin-left: 400px;
    cursor: pointer;
}

.continue-btn{
    margin-left: 540px;
    margin-top: 50px;
    button{
        width: 160px;
        height: 35px;
        border: none;
        background-color: rgb(78, 78, 218);
        color: white;
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
        cursor: pointer;
    }
}

label{
    position: absolute;
}


