$dark_red : #A03037;
$white : white;
$greyish_blue : #babcc5;
$greyish_white : #F5F5F5 ;
$black : #0A0102;
$input-box-color :#E2E2E2;
$violet_blue : #babcc5;
$shadow_grey: #00000029;
$light_grey : #E4E4E4;
$light_black : #878787;
$shadow_black : #645e5e;