.img-top{
    width: 220px;
    margin-left: 470px;
}

h6{
    margin-top: -10px;
    margin-left: 490px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

h5{
    margin-top: -28px;
    margin-left: 470px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500; 
}

h4{
    margin-top: -20px;
    margin-left: 520px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500; 
}

.img-bottom{
    width: 600px;
    margin-left: 300px;
    margin-top: 20px;
}

button{
    margin-top: 20px;
    margin-left: 480px;
    border: none;
    cursor: pointer;
    width: 220px;
    height: 35px;
    background-color: rgb(50, 50, 192);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 16px;
    padding-bottom: 1px;
    border-radius: 5px;
}